.backButton {
  position: fixed;
  bottom: 5vh;
  left: 3vw;
  z-index: 1000;
  display: block;
  width: 48px;
  height: 48px;
  transition: opacity 0.2s ease;
}

.backButton:hover {
  opacity: 0.7;
}

.icon {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .backButton {
    bottom: 3vh;
    left: 5vw;
  }
}
