.footer {
  position: relative;
  z-index: 1;
  width: calc(var(--grid-cell) * 8);
  margin: auto auto 0;
  padding-bottom: calc(var(--grid-cell) * 0.4);
  display: flex;
  justify-content: flex-end;
}

.copyright {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .footer {
    width: calc(var(--grid-cell) * 18);
    padding-bottom: calc(var(--grid-cell) * 1);
  }
}
