:root {
  --background: #fbfcfd;
  --foreground: #171717;
  --yellow-background: #ffffb9;
  --purple-background: #f1ebfa;
  --primary-color: #500b28;
  --grid-cell: 10vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(#fbfcfd, #ffffff) no-repeat fixed;
  font-family: var(--font-inter), var(--font-zen-kaku), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body:has([data-page="home"]) {
  background: linear-gradient(#fcfcfc, #ffffff) no-repeat fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
