.headerTopLeft {
  position: fixed;
  top: calc(var(--grid-cell) * 1);
  left: calc(var(--grid-cell) - 1rem);
  z-index: 1000;
  color: inherit;
  text-decoration: none;
}

.headerTopRight {
  position: fixed;
  top: calc(var(--grid-cell) * 1);
  left: calc(var(--grid-cell) * 9);
  z-index: 1000;
  color: inherit;
  text-decoration: none;
}

.headerTopLeft img {
  width: calc(var(--grid-cell) * 4.5) !important;
  height: calc(var(--grid-cell) * 0.3) !important;
}

.headerTopRight img {
  width: calc(var(--grid-cell) * 0.3) !important;
  height: calc(var(--grid-cell) * 4) !important;
}

/* PC版のスタイル */
@media (min-width: 768px) {
  .headerTopLeft {
    top: var(--grid-cell);
    left: var(--grid-cell);
  }
  .headerTopRight {
    top: var(--grid-cell);
    left: auto;
    right: var(--grid-cell);
  }
}

/* sp版（スマートフォン）のスタイル */
@media (max-width: 768px) {
  .headerTopLeft img {
    width: 200px !important;
    height: 15px !important;
  }

  .headerTopRight img {
    width: 15px !important;
    height: 200px !important;
  }
}
