.headerTopLeft {
  position: fixed;
  top: var(--grid-cell);
  left: calc(var(--grid-cell) - 1rem);
  z-index: 1000;
  color: inherit;
  text-decoration: none;
}

.headerTopRight {
  position: fixed;
  top: var(--grid-cell);
  left: calc(var(--grid-cell) * 9);
  z-index: 1000;
  color: inherit;
  text-decoration: none;
}

.headerTopLeft img {
  width: 300px !important;
  height: 20px !important;
}

.headerTopRight img {
  width: 20px !important;
  height: 300px !important;
}

/* sp版（スマートフォン）のスタイル */
@media (max-width: 768px) {
  .headerTopLeft img {
    width: 200px !important;
    height: 15px !important;
  }

  .headerTopRight img {
    width: 15px !important;
    height: 200px !important;
  }
}
