.headerTopLeft {
  position: fixed;
  top: var(--grid-cell);
  left: calc(var(--grid-cell) - 1rem);
  z-index: 1000;
}

.headerTopRight {
  position: fixed;
  top: var(--grid-cell);
  left: calc(var(--grid-cell) * 9);
  z-index: 1000;
}

/* sp版（スマートフォン）のスタイル */
@media (max-width: 768px) {
  .headerTopLeft img {
    width: 110px !important;
    height: 25px !important;
  }

  .headerTopRight img {
    width: 25px !important;
    height: 110px !important;
  }
}
