.container {
  width: 100%;
  min-height: 100svh;
  position: relative;
  background: linear-gradient(var(--background), #ffffff) no-repeat fixed;
}

.content {
  width: calc(var(--grid-cell) * 8);
  margin: 0 auto;
  padding-top: calc(var(--grid-cell) * 2.75);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--primary-color);
}

.label {
  color: #999;
  font-family: monospace;
  font-size: 11px;
  letter-spacing: 0;
}

.divider {
  border: 0.5px solid var(--primary-color);
  width: 100%;
}

/* PC版のスタイル */
@media (min-width: 768px) {
  .content {
    width: calc(var(--grid-cell) * 16);
    padding-top: calc(var(--grid-cell) * 4);
  }
}
