.container {
  width: 100%;
  min-height: 100svh;
  position: relative;
  margin-bottom: 5rem;
}

.content {
  width: calc(var(--grid-cell) * 8);
  margin: 0 auto;
  padding-top: calc(var(--grid-cell) * 2.75);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-cell) * 0.75);
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.3s;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-cell) * 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
}

.title {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.subtitle {
  line-height: 1.5;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.textContent {
  width: 100%;
  line-height: 1.8;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.textContent p {
  margin-bottom: 8px;
}

.heading {
  font-weight: normal;
  margin-bottom: 16px;
}

.contentImageWrapper {
  width: 100%;
  margin-bottom: calc(var(--grid-cell) * 0.4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.imageCaption {
  margin-bottom: 0;
}

.videoWrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.videoWrapper iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.divider {
  width: 100%;
  border: none;
  border-top: 0.5px solid var(--primary-color);
  margin: 1rem 0;
}

.spacer {
  height: 3rem;
  width: 100%;
}

/* PC版のスタイル */
@media (min-width: 768px) {
  .content {
    width: calc(var(--grid-cell) * 14);
    padding-top: calc(var(--grid-cell) * 2);
    padding-bottom: 60px;
    gap: var(--grid-cell);
    position: relative;
    z-index: 0;
    flex-direction: row;
  }

  .contentWrapper {
    width: calc(var(--grid-cell) * 9);
  }

  .header {
    text-align: left;
    width: calc(var(--grid-cell) * 4);
    position: sticky;
    top: calc(var(--grid-cell) * 2);
    align-self: flex-start;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .subtitle {
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
  }

  .mainImage {
    max-width: 100%;
  }

  .textContent {
    max-width: 800px;
  }
}
