.container {
  width: 100%;
  min-height: 100svh;
  position: relative;
  margin-bottom: 5rem;
}

.content {
  width: calc(var(--grid-cell) * 8);
  margin: 0 auto;
  padding-top: calc(var(--grid-cell) * 3);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
}

.title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  color: #500b28;
}

.subtitle {
  font-size: 0.7rem;
  line-height: 2;
  margin-bottom: 0;
  color: #500b28;
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.textContent {
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
  color: #500b28;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.textContent p {
  font-size: 14px;
  margin-bottom: 8px;
}

.contentImageWrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contentImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.imageCaption {
  font-size: 14px;
  color: #500b28;
  margin-bottom: 0;
}

.divider {
  height: 5rem;
  width: 100%;
}

/* PC版のスタイル */
@media (min-width: 768px) {
  .content {
    padding-top: calc(var(--grid-cell) * 1);
    padding-bottom: 60px;
    gap: 60px;
    position: relative;
    z-index: 0;
  }

  .header {
    text-align: left;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .imageWrapper {
    width: 100%;
  }

  .mainImage {
    max-width: 100%;
  }

  .textContent {
    max-width: 800px;
  }
}
